@tailwind base;
@tailwind components;
@tailwind utilities;

/* color themes */
@layer base {
  :root {
    --background: 210 40% 96.1%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 215.4 16.3% 46.9%;

    --primary: 222.2 47.4% 11.2%;

    --secondary: 313 72% 48%;
    --secondary-foreground: 245 44% 90%;

    --accent: 245 34% 45%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 223 47% 11%;
    --foreground: 213 31% 96%;

    --muted: 215.4 16.3% 68%;

    --primary: 210 40% 98%;
  }

  .purple {
    --accent: 245 34% 55%;
    --secondary: 313 72% 48%;
    --secondary-foreground: 245 44% 90%;
  }

  .red {
    --accent: 349.3 96.2% 30.8%;
    --secondary: 317 42% 52%;
    --secondary-foreground: 218 0% 90%;
  }

  .green {
    --accent: 180 65% 27%;
    --secondary: 164 100% 38%;
    --secondary-foreground: 216 44% 85%;
  }

  .blue {
    --accent: 229 83% 60%;
    --secondary: 200 100% 52%;
    --secondary-foreground: 221 100% 92%;
  }

  .coral {
    --accent: 354 100% 71%;
    --secondary: 40 94% 52%;
    --secondary-foreground: 226 21% 88%;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .app {
    min-height: 100vh;
    box-sizing: border-box;
    display: block;
    position: relative;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: "Poppins", sans-serif;
    cursor: default;
  }

  h1 {
    @apply text-accent text-2xl md:text-3xl font-bold;
  }
  
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .app {
    padding-right: 8vw;
    padding-left: 8vw;
  }
}


