.Main {
  min-height: 100vh;
  padding-left: 10vh;
  padding-right: 10vh;
  padding-top: 12vh;
  padding-bottom: 4vh;
  background-color: #F9F7F1;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .Main {
      padding-right: 8vw;
      padding-left: 8vw;
  }
}

[id]::before {
  content: '';
  display: block;
  height:      80px;
  margin-top: -80px;
  visibility: hidden;
}

#show {
  opacity: 0;
  animation: fadeIn 3s forwards;
  animation-delay: 9s;
  -webkit-animation: fadeIn 3s forwards;
  -webkit-animation-delay: 9s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


